$torquoise-dark-l: #344e41;
$torquoise-dark-m: #618264;
$torquoise-dark-s: #79ac78;
$torquoise-light-l: #b0d9b1;
$torquoise-light-s: #d0e7d2;

$container-w-xl: 1240px;
$container-w-l: 940px;
$container-w-m: 680px;
$container-w-s: 480px;

$blue-dark-l: #01497c;
$blue-dark-m: #014f86;
$blue-dark-s: #2a6f97;
$blue-light-l: #468faf;
$blue-light-l: #61a5c2;
$blue-light-l: #89c2d9;

