<ng-container *ngIf="book">
<div data-test-id="collection-item">
  <div class="book-reading-status">
    <app-modal *ngIf="isOpen" [isOpen]="isOpen" (onModalClose)="closeModal()">
      <div class="reading-status-wrapper">
        <p class="reading-status-wrapper-title">Select the reading status:</p>
        <select #selectValue name="reading-status" id="reading-status-select" data-test-id="reading-status-select">
          <ng-container *ngFor="let type of (readingStatusTypes | keyvalue)">
            <option *ngIf="isStringKey(type.key)" [value]="type.value" [selected]="isSelected(type.value)">
              {{type.key}}</option>
          </ng-container>
        </select>
        <button data-test-id="save-change-btn" (click)="onSaveChange(selectValue.value)">Save</button>
      </div>
    </app-modal>
  </div>
  <img [src]="book.volumeInfo.imageLinks.thumbnail" [alt]="book.volumeInfo.title" />
  <!-- <p class="book-title">{{book.volumeInfo.title}}</p><span> by {{book.volumeInfo.authors}}</span> -->
  <button class="remove-button" (click)="remove.emit(book.id)" data-test-id="remove-btn"
    data-test-id="remove-from-collection-btn">Remove from Collection</button>
  <button class="change-status-button" (click)="openModal()" data-test-id="change-status-btn">Change
    status</button>
</div>
</ng-container>