.form-container {
  height: 100%;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span.form-label {
    display: block;
    font: 1.5em;
  }
}
